{% extends "auth/_master.html" %}

{% block title %}Log in{% endblock %}
{% block heading %}Sign in to your account{% endblock %}

{% block content %}
<div class="flex flex-col">
    <form class="space-y-6" action="/login" method="POST">
        <div>
            <label class="text-sm" for="email-address">Email address</label>
            <input id="email-address" name="email" type="email" autocomplete="email" required class="appearance-none rounded block w-full px-3 py-2 border {% if errors.email %} border-red-500 {% else %} border-gray-300 {% endif %} placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="john.doe@company.co.uk">
            {% if errors.email %}
                <span class="text-sm text-red-500 mt-1 ">{{ errors.email }}</span>
            {% endif %}
        </div>
        <div>
            <label class="text-sm" for="password">Password</label>
            <input id="password" name="password" type="password" autocomplete="current-password" required class="appearance-none rounded block w-full px-3 py-2 border {% if errors.password %} border-red-500 {% else %} border-gray-300 {% endif %} placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm">
            {% if errors.password %}
                <span class="text-sm text-red-500 mt-1 ">{{ errors.password }}</span>
            {% endif %}
        </div>

        <div class="flex items-center justify-between">
            <div id="remember-field" class="flex flex-row items-center">
                <input name="remember_me" type="checkbox" class="w-4 h-4 rounded border-1" />
                <label class="ml-2 text-sm">Remember me</label>
            </div>
            <div>
                <a href="/forgot" class="text-blue-500 hover:text-blue-400 transition duration-100 ease-in-out font-bold text-sm">Forgot your password?</a>
            </div>
        </div>

        <div id="login-button">
            <button class="bg-blue-500 text-white border-2 hover:bg-blue-400 hover:border-blue-500 focus:outline-none active:-translate-y-1 transition duration-100 ease-in-out border-blue-600 w-full py-2 rounded-md font-bold" value="Log in">Sign in</button>
        </div>
    </form>
</div>
{% endblock %}
