<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} - Datadeck</title>
        <link rel="stylesheet" href="/main.css" />
        {% block head %}{% endblock %}
    </head>
    <body>
        <header></header>

        <main class="d-flex flex-col">
            {% block content %}{% endblock %}
        </main>

        <footer></footer>

        <!-- Scripts -->
        <script src="/bundle.js"></script>
        {% block scripts %}
            <!-- No custom scripts -->
        {% endblock %}
        <!-- End Scripts -->
    </body>
</html>